body {
  background: url('./images/Guardian.jpeg');
  background-size:cover;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 40px;
  font-weight: bold;
}

li:hover {
  color:plum;
  pointer-events: visible;
}

.newsList {
  color: white;
  font-size: 21px;
  text-shadow: -2px -2px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: 40px;
  text-align: left;
  text-decoration: underline;
  list-style-type: none;
  text-shadow: rgb(65, 250, 238);
}

li
{
  margin: 26px 0;
}

.header {
  font-size: 24px;
  color: rgb(19, 38, 126);
  text-shadow: -1px -1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255), -1px 1px 0 rgb(255, 236, 236), 1px 1px 0 #000;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.newsDetail {
  font-size: 22px;
  color: rgb(19, 38, 126);
  text-shadow: -1px -1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255), -1px 1px 0 rgb(255, 236, 236), 1px 1px 0 #000;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

a {
  color: aliceblue;
  text-shadow: -2px -2px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}